.nrx-app {
  display: grid;
  height: 100%;
  grid-template:
    'header' 60px
    'main' auto
    'footer' 40px / 100%;
}

.nrx-header {
  grid-area: header;
  display: flex;
  align-items: center;
  background: rgb(20, 112, 187);
}

.nrx-header a {
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.nrx-header a.active {
  user-select: none;
  border-color: rgba(255, 255, 255, 0.9);
}

.nrx-header-logo {
  margin-right: auto;
}

.nrx-header ul {
  display: flex;
}

.nrx-header li {
  margin-right: 12px;
}

.nrx-auth-control {
  color: rgba(255, 255, 255, 0.7);
}

.nrx-main {
  grid-area: main;
}

.nrx-footer {
  grid-area: footer;
  color: rgba(20, 112, 187, 0.4);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  background: rgba(20, 112, 187, 0.1);
}

.nrx-container {
  padding: 0 40px;
}
